.card-body {
  background-color: #343a40 !important;
  color: white !important;
}

.gradient-clutch {
  text-align: center;
}

.captain-pfp {

  vertical-align: middle;
  border-radius: 50%;
}

.clutch-title {
  text-align: center;
  justify-content:center;
  color: white;
  font-family: Daily-Q;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


.table tbody tr.tr-captains:hover {
  border: none !important;
  --bs-table-hover-color: black !important;
  --bs-table-hover-bg: #ffb300 !important;
  /* Change the background color on hover */
  transform: scale(1.05);
  /* Increase the size of the row on hover */
  transition: all 0.1s ease;
  /* Smooth transition */
}

.table tbody tr.tr-veterans:hover {
  border: none !important;
  --bs-table-hover-color: black !important;
  --bs-table-hover-bg: #ffca50 !important;
  /* Change the background color on hover */
  transform: scale(1.05);
  /* Increase the size of the row on hover */
  transition: all 0.1s ease;
  /* Smooth transition */
}

.table tbody tr.tr-incomers:hover {
  border: none !important;
  --bs-table-hover-color: black !important;
  --bs-table-hover-bg: #fadc95 !important;
  /* Change the background color on hover */
  transform: scale(1.05);
  /* Increase the size of the row on hover */
  transition: all 0.1s ease;
  /* Smooth transition */
}

.table>tbody>tr>td,
.table>tbody>tr>th {
  color: white;
  font-family: Daily-Q;
  border: none !important;
  background-color: rgba(255, 255, 255, 0);
}

.table>tbody>tr:hover>td,
.table>tbody>tr:hover>th {
  color: black;
}

.gradient-clutch-custom {
  font-size: 65px !important;
  border-radius: 85% !important;
}

#target-section {
  /* padding: 100px; */
  scroll-margin: 100px;
}

.scroll-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width:50px;
  position: sticky; /*  this was relative but had to change it to fix so navbar would align correctly*/
  /* Adjust this value to place the button higher or lower */
  transition: all ease-in-out 0.2s;
  animation: shake-slow 2s infinite ease;

}

.scroll-button img {
  width: 50px;
  /* Adjust the size as needed */
  height: auto;
  display: block;
}

.full-height {
  position: relative;
  /* top: -200px; */
  transform: translateY(-20%);
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-size{
  margin:0 auto;
}

@media only screen and (max-width: 900px) {
  /* .clutch-div {
    margin-left: 50px;
    margin-right: 50px;
  } */

  .gradient-clutch {
    font-size: 14px !important;
  }

  .clutch-icon {
    width: 100px;
    height: 100px;
  }

  .captain-pfp {
    width: 50px;
    height: 50px;
  }

  .clutch-header {
    margin-top: 100px;
    margin-bottom: 200px;
  }

  .clutch-title {
    font-size: 40px;
  }

  /* Custom styles for smaller table */
  .small-table {
    font-size: 0.8rem;
    /* Reduce font size */
  }

  .small-table th,
  .small-table td {
    font-size: 0.7rem;
    padding: 0.25rem;
    /* Reduce padding */
  }

  .table>tbody>tr>td,
  .table>tbody>tr>th {

    font-size: 20px;

  }

  .gradient-clutch-custom {
    font-size: 25px !important;
  }

  .scroll-button {
    left: 40%;
    bottom: 100px;

  }
  .table-size{
    max-width: 500px;
  }
}


@media only screen and (min-width: 901px) {


  .clutch-div {
    margin-left: 250px;
    margin-right: 250px;
  }

  .gradient-clutch {
    font-size: 20px !important;
  }

  .clutch-icon {
    width: 250px;
    height: 250px;
  }

  .captain-pfp {
    width: 200px;
    height: 200px;
  }

  .clutch-header {
    margin-top: 100px;
    margin-bottom: 300px;
  }

  .clutch-title {
    font-size: 80px;
  }

  .table>tbody>tr>td,
  .table>tbody>tr>th {

    font-size: 30px;

  }

  .gradient-clutch-custom {
    font-size: 65px !important;
  }

  .scroll-button {
    left: 50%;
    bottom: 100px;

  }
  .table-size{
    max-width: 500px;
  }
  
}



@keyframes shake-slow {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}