
.gradient-main {
    text-align: center;
  }
  .nav-pills{
    --bs-nav-pills-border-radius:50%;
    
  }
  .nav-link{
    margin:10px;
    border-color:rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;
    border-radius: 50%;
    border:var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    --bs-border-opacity: 1;
  }