
.gradient-main {
    text-align: center;
  }
  
  .nav-pills{
    --bs-nav-pills-border-radius:50%;
    
  }
  .nav-link{
    margin:10px;
    border-color:rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;
    border-radius: 50%;
    border:var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    --bs-border-opacity: 1;
  }
 
  .register-tier {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px; /* Adjust as needed  500 for 5*/
    margin: 50px auto; /* Adjust as needed */
    
  }
  
  .circle {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff; /* Adjust as needed */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 2;
    animation: backup .1s cubic-bezier(0.895, 0.030, 0.685, 0.220) backwards;
    
  }


  .circle::before{
    content: '';
    position: absolute;
    height: 2px;
    background-color: #007bff; /* Adjust as needed */
    width: 50px; /* Adjust to cover the distance between circles 100px */
    top: 50%;
    left: 100%;
    transform: translateY(-1px);
    z-index: -1;
  }
  
  .circle:last-child::before {
    display: none; /* Hide line after last circle */
  }
  .register-tier .active {
    background-color: #007bff;
  }
  .register-tier .active ~ .circle{
    background-color: white; /* Adjust as needed */
    border:2px solid #b0d6ff;
    color:#007bff;
  }
  .register-tier .active ~ .circle::before{
    content: '';
    position: absolute;
    height: 2px;
    background-color: #b0d6ff; /* Adjust as needed */
    width: 50px; /* Adjust to cover the distance between circles 100px */
    top: 50%;
    left: 100%;
    transform: translateY(-1px);
    z-index: -1;
  }
  /* .register-tier:last-child .active ~ .circle::before{
    display: none;
  } */
  .success-circle{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(50, 189, 50); /* Adjust as needed */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 2;
    animation: check .1s cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards;
    
  }

  .success-circle::before{
    content: '';
    position: absolute;
    height: 2px;
    background-color: rgb(50, 189, 50); /* Adjust as needed */
    width: 50px; /* Adjust to cover the distance between circles */
    top: 50%;
    left: 100%;
    transform: translateY(-1px);
    z-index: -1;
  }

  .success-circle:last-child::before {
    display: none; /* Hide line after last circle */
  }


.scroll-default{
  margin:0 auto;
  max-width: 300px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom:10px;
}


.pfp-input {
  display: none;
}
.pfp-upload-txt{
  color:rgb(71, 138, 253);
}
.pfp-upload-txt:hover{
  color:rgb(24, 107, 250);
  text-decoration-line: underline;
}
.pfp-point {
  cursor: pointer !important;
}
.pfp-view {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.register-table{
  /* background-color: rgba(193, 193, 193, 0.908); */
  margin:0 auto;
  max-width:400px;
  color:white;
  /* height:300px; */
}

.register-table .form-check-label,
.register-table .image-container,
.register-table .scroll-default,
.register-table .pfp-point,
.register-table .text-start{
  background-color: rgba(255, 255, 255, 0);
  color:white;
}

.title-cap {
  font-family: Daily-Q;
  color: white;
  /* font-weight: bold; */
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
 /* // background-color: #9c9c9c;
  */
 
}
.card-container.card {
margin:0 auto;
max-width:500px;
/* padding: 40px 40px; */
background: none;
}

  @keyframes check {
    0% {
      width: 1.5em;
      height: 1.5em;
      border-width: 5px;
    }
    10% {
      width: 1.5em;
      height: 1.5em;
      opacity: 0.1;
      background: rgb(50, 189, 50);
      border-width: 15px;
    }
    12% {
      width: 1.5em;
      height: 1.5em;
      opacity: 0.4;
      background: rgb(50, 189, 50);
      border-width: 0;
    }
    50% {
      width: 2em;
      height: 2em;
      background: #00d478;
      border: 0;
      opacity: 0.6;
    }
    100% {
      width: 2em;
      height: 2em;
      background: #00d478;
      border: 0;
      opacity: 1;
    }
  }
  @keyframes backup {
    0% {
      width: 1.5em;
      height: 1.5em;
      border-width: 5px;
    }
    10% {
      width: 1.5em;
      height: 1.5em;
      opacity: 0.1;
      background: #007bff;
      border-width: 15px;
    }
    12% {
      width: 1.5em;
      height: 1.5em;
      opacity: 0.4;
      background: #007bff;
      border-width: 0;
    }
    50% {
      width: 2em;
      height: 2em;
      background: #007bff;
      border: 0;
      opacity: 0.6;
    }
    100% {
      width: 2em;
      height: 2em;
      background: #007bff;
      border: 0;
      opacity: 1;
    }
  }