<footer class="fixed-bottom py-2">
  <div class="row text-white align-middle">
    <div class="col text-center ">
      2024 © All Rights Reserved | Sage Paths 
    </div>
    <!-- <div class="col text-end">
            <button type="button" class="btn  btn-sm btn-secondary me-3" title="PrivacyPolicy">
                Privacy Policy
            </button>
            <button type="button" class="btn  btn-sm btn-secondary me-3" title="TermsConditions">
                Terms &amp; Conditions
            </button>
        </div> -->
  </div>
  
</footer>

