.edit-header {
    border-bottom: 2px solid white !important;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .card{
    background: #343a40 !important;
    color:white;
}
.warning-playername{
  margin-top: 10px;
  font-size:x-small;
}