<div class="container-fluid "  >
    <div class="row">
        <div class="col-xl-12">
            
                <div *ngIf="section == 'clutch'">
                    
                    <div class="card">
                        <div class="card-header gradient-clutch">
                            PRACTICE
                        </div>
                        <div class="card-body">
                            <p>Here is the link to go to Clutch Page</p>
                            <a routerLink="/clutch">Clutch</a>
                        </div>
                    </div>
                </div>
                <div *ngIf="section == 'settings'">
                    <div class="edit-header">
                        <h4><i class="fa-solid fa-circle-info icon-bg"></i> General</h4>
                      </div>
                    <div class="edit-header">
                        <h4><i class="fa-solid fa-user-group icon-bg"></i> Roles</h4>
                      </div>

                </div>
                <div *ngIf="section == 'admin'">
                    <admin-page></admin-page>
                </div>
        </div>
    </div>
</div>

