<!------------------------------------------------------ Modal : Admin Page ; Remove a Role ------------------------------------------------------>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header gradiant-admin">
        <h5 class="modal-title" id="exampleModalLabel">Deleting a Role</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this role?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-danger"
          (click)="auth_RemoveRoleModal(component_object.profile_id);">Delete</button>
      </div>
    </div>
  </div>
</div>
<!------------------------------------------------------ Modal : Admin Page ; Adding a Role ------------------------------------------------------>
<div class="modal fade" id="addRoleModal" tabindex="-1" role="dialog" aria-labelledby="addRoleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header gradiant-admin">
        <h5 class="modal-title" id="addRoleModalLabel">Select the Following Roles:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Roles</h3>
        <div class="form-check form-check-inline" *ngFor="let list of component_object.profiles">
          <input class="form-check-input me-3" [(ngModel)]="list.checked" type="checkbox" id="{{list.id}}Check">
          <label class="form-check-label" for="{{list.id}}Check">
            {{list.profile}}
          </label>

        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="auth_AddRoleModal();">Save</button>
      </div>
    </div>
  </div>
</div>
<!------------------------------------------------------ Modal : Calendar Component ; Looking at an event -------------------------------------->
<div class="modal fade" id="eventDetailModal" tabindex="-1" role="dialog" aria-labelledby="eventDetailModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header gradient-main">
        <h5 class="modal-title" id="eventDetailModalLabel">Event Details</h5>
      </div>
      <div class="modal-body">

        <div class=" container-fluid table-responsive modal-table">

          <table class="table table-striped table-dark table-responsive table-data table-borderedless">
            <tbody>
              <tr>
                <th>Date:</th>
                <td>{{component_object.Status?.Date | date: 'shortDate'}}</td>
              </tr>
              <tr>
                <th>Event:</th>
                <td>{{component_object.Status?.Name}}</td>
              </tr>
              <tr>
                <th>Location:</th>
                <td>{{component_object.Status?.Location}}</td>
              </tr>
              <tr>
                <th>Description:</th>
                <td>{{component_object.Status?.Description}}</td>
              </tr>
            </tbody>
          </table>
          <table *ngIf="!component_object.Attend"
            class="table table-dark table-striped table-responsive table-data table-bordered">
            <thead>
              <tr>
                <th>Are you attending to {{component_object.Status?.Name}}?</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  <input class="form-check-input me-2" [(ngModel)]="attending" type="checkbox" id="AttendCheck">
                  <label class="form-check-label" for="AttendCheck">
                    {{attending ? 'Yeah I\'m attending!':'Sorry I can\'t make it.'}}
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="component_object.Attend" class="alert alert-warning alert-sm">You submitted your attendance
            already.</div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" *ngIf="!component_object.Attend" class="btn btn-success"
          (click)="clutch_EventAttendModal(component_object);">Submit</button>
      </div>
    </div>
  </div>
</div>
<!------------------------------------------------------ Modal : Calendar Component ; Adding an event -------------------------------------->
<div class="modal fade" id="eventAddModal" tabindex="-1" role="dialog" aria-labelledby="eventAddModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header gradient-main">
        <h5 class="modal-title" id="eventAddModalLabel">Add Event</h5>
      </div>
      <div class="modal-body">
        <div class="alert alert-warning alert-sm" style="margin:0 auto;max-width:500px;">
          <h6><i class="fa-solid fa-triangle-exclamation me-1"></i>
            Disclaimer: <br><br>
            <p>Please note that once submitted an event, the google sheet will be updated, but will not be in the correct order as the dates will be inserted in the 
            beginning of the date columns. Please correct this as a user and hopefully this bug will, in the future, will be updated.</p> </h6>
        </div>
        <div *ngIf="!event_Submit" class="mt-3 table-responsive modal-table">
          <h5>Please fill out the information below:</h5>

          <table class="mt-3 table table-sm table-responsive table-data table-borderless">
            <tbody>
              <tr>
                <th colspan="2">Name of Event:</th>
              </tr>
              <tr>
                <td colspan="2"><input type="email" autocomplete="off" [(ngModel)]="component_object.name"
                    class="form-control form-control-sm" placeholder="Event name"></td>
              </tr>
              <tr>
                <th colspan="2">Location:</th>
              </tr>
              <tr>
                <td colspan="2"><input type="email" autocomplete="off" [(ngModel)]="component_object.location"
                    class="form-control form-control-sm" placeholder="Location of the event"></td>
              </tr>
              <tr>
                <th colspan="2">Description:</th>
              </tr>
              <tr>
                <td colspan="2"><input type="email" autocomplete="off" [(ngModel)]="component_object.description"
                    class="form-control form-control-sm" placeholder="Description"></td>
              </tr>
            </tbody>
          </table>
          <div class="text-center m-2">
            <ngb-datepicker [firstDayOfWeek]="7" [dayTemplate]="customDay" [outsideDays]="'collapsed'"
              (dateSelect)="dp_selectOne($event)"></ngb-datepicker>

            <ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected"
              let-disabled="disabled" let-focused="focused">
              <span class="custom-day" [class.focused]="focused" [class.bg-primary]="dp_isSelected(date)">
                {{date.day}}</span>
            </ng-template>
          </div>

          <div class="alert alert-warning m-2" *ngIf="modelList.length==0">No dates selected. Please select a date(s).
          </div>
          <div class="m-2" style="display:inline" *ngFor="let date of modelList"><span
              class="badge text-bg-primary">{{date?.month}}/{{date?.day}}/{{date?.year}}</span></div>

        </div>
        <div *ngIf="event_Submit" class="alert alert-success alert-sm m-2" style="margin:0 auto;max-width:500px;">
          <h6 class="mt-3">Thank you for submitting an event. Look at disclaimer above if you have not done so.</h6>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-success" *ngIf="!event_Submit"
          [disabled]="modelList.length==0 || !component_object.location || !component_object.name"
          (click)="clutch_AddEvent();">Submit</button>
      </div>
    </div>
  </div>
</div>
<!------------------------------------------------------ Modal : Link ; Adding a link -------------------------------------->
<div class="modal fade" id="linkAddModal" tabindex="-1" role="dialog" aria-labelledby="linkAddModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header gradient-main">
        <h5 class="modal-title" id="linkAddModalLabel">Add a Link</h5>
      </div>
      <div class="modal-body">
        
        <div *ngIf="!link_Submit" class="table-responsive modal-table">
          <h5>Please fill out the information below:</h5>

          <table class="mt-3 table table-sm table-responsive table-data table-borderless">
            <tbody>
              <tr>
                <th>Title of Link:</th>
              </tr>
              <tr>
                <td><input type="text" autocomplete="off" [(ngModel)]="component_object.name"
                    class="form-control form-control-sm" placeholder="Link Title"></td>
              </tr>
              <tr>
                <th>Category:</th>
              </tr>
              <tr>
                <td><select class="form-select form-select-sm" [(ngModel)]="component_object.category">
                  <option *ngFor="let c of component_categories" [value]="c">{{c}}</option></select></td>
              </tr>
              <tr>
                <th>Link:</th>
              </tr>
              <tr>
                <td><input type="text" autocomplete="off" [(ngModel)]="component_object.link"
                    class="form-control form-control-sm" placeholder="Hyperlink"></td>
              </tr>
            </tbody>
          </table>
          
        </div>
        <div *ngIf="link_Submit" class="alert alert-success alert-sm m-2" style="margin:0 auto;max-width:500px;">
          <h6 class="mt-3">Thank you for submitting a link. Give it a second to refresh.</h6>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-success" *ngIf="!event_Submit"
          [disabled]="component_object.category==null || !component_object.link || !component_object.name"
          (click)="modal_AddLink();">Submit</button>
      </div>
    </div>
  </div>
</div>
<!------------------------------------------------------ Modal : Link ; Remove a Link ------------------------------------------------------>
<div class="modal fade" id="linkRmvModal" tabindex="-1" role="dialog" aria-labelledby="linkRmvModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header gradient-clutch">
        <h5 class="modal-title" id="linkRmvModalLabel">This action cannot be undone.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="w-100">
          <p>Are you sure you want to delete this link?</p>
          <p style="font-size:x-small"><span class="fw-bolder">{{component_object.name}}</span>: {{component_object.link}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-danger"
          (click)="modal_DeleteLink(component_object.link_id);">Delete</button>
      </div>
    </div>
  </div>
</div>
<!---------------------------------------------------- Modal : Kickball Admin Roster ; Edit Roster ----------------------------------------->
<div class="modal fade" id="rosterTeamModal" tabindex="-1" role="dialog" aria-labelledby="rosterTeamModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header gradient-kickball">
        <h5 class="modal-title" id="rosterTeamModalLabel">Team Roster:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="teamList"><b>All Kickball Players:</b></div>
        <div class="table-responsive" style="overflow-x: auto;">
          <!-- <h4>All Kickball Players:</h4> -->
           
          <div class="d-flex flex-nowrap">
           
            <!-- <div *ngIf="component_object?.all?.length==0" class="alert alert-sm alert-warning">
              No kickball players to add :c
            </div> -->
            <div *ngFor="let player of component_object.all; index as i" class="card roster-card m-2" [class.selected-all]="player.kickball_id === kb_selectedPlayerId"  (click)="kb_selectPlayer(player.kickball_id)" >
              <span *ngIf="player?.deleteToggle" class="position-absolute deleteNewPlayer top-0 start-100 translate-middle badge rounded-pill bg-danger" (click)="component_object.all.splice(i,1)">
                <i class="fa-solid fa-minus"></i>
              </span>
              <div class="text-center m-3">
                <img [src]="player.pfp ? player.pfp_url : '../../assets/pfp_default/user.png'" class="roster-img" alt="Player image">
                <!-- <div class="pfp-edit">
                  <input id="fileInput" class="file-input" type="file" accept="image/*" (change)="kb_onSelectFile($event)" />
                  <label for="fileInput" class="file-point">
                    <i class=" fa-solid fa-camera" style="font-size:10px;"></i>
                  </label>
                </div> -->
              </div>
              <div class="card-body text-center">
                <h6 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ player.name }}</h6>
                <!-- <p class="card-text">Position: {{ player.position }}</p>
                                      <p class="card-text">Team: {{ player.team }}</p> -->
              </div>
            </div>
            <div *ngIf="!kb_show_new_player" class="card roster-card add-roster-card m-2 text-center" style="border: 4px dotted white;cursor: pointer;" (click)="kb_new_player.name ? kb_createPlayer(kb_new_player) : null">
             
              <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <div class="btn btn-sm btn-success border-light rounded-circle text-center" (click)="kb_new_player.name ? kb_createPlayer(kb_new_player) : null"><i class="fa-regular fa-plus"></i></div>
                  <h6 class="card-title mt-2">Create Player</h6>
                  <input type="text" class="form-control form-control-sm" (click)="$event.stopPropagation();$event.preventDefault();"  [(ngModel)]="kb_new_player.name" style="max-width:100px;z-index:10;">
                
              </div>
            </div>
          </div>
          
        </div>
        <div class="text-center">
          <button class="btn btn-sm btn-success me-2" (click)="kb_movePlayerToRoster()"><i class="fa-solid fa-arrow-down"></i></button>
          <button class="btn btn-sm btn-danger" (click)="kb_moveToAll()"><i class="fa-solid fa-arrow-up"></i></button>
        </div>
        <div class="teamList"><b>Rostered Players:</b></div>
        <div class="table-responsive" style="overflow-x: auto;">
          <!-- <h4>Rostered Players:</h4> -->
          
          <div class="d-flex flex-nowrap">
            
            <div *ngIf="component_object?.rostered?.length==0" class="alert alert-sm alert-warning">
              No rostered players yet :3
            </div>
            <div *ngFor="let player of component_object.rostered;index as i" class="card roster-card m-2" [class.selected-roster]="player.kickball_id === kb_selectedRosteredPlayerId"  (click)="kb_selectRosteredPlayer(player.kickball_id)">
              <span *ngIf="player?.deleteToggle" class="position-absolute deleteNewPlayer top-0 start-100 translate-middle badge rounded-pill bg-danger" (click)="component_object.rostered.splice(i,1)">
                <i class="fa-solid fa-minus"></i>
              </span>
              <div class="text-center m-3">
                <img [src]="player.pfp ? player.pfp_url : '../../assets/pfp_default/user.png'" class="roster-img" alt="Player image">
                <div class="pfp-edit">
                  <input id="fileInputKBPFP_{{i}}" class="file-input" type="file" accept="image/*" (change)="kb_onSelectPFP($event,player)" />
                  <label for="fileInputKBPFP_{{i}}" class="file-point">
                    <i class=" fa-solid fa-camera" style="font-size:10px;"></i>
                  </label>
                </div>
              </div>
              
              <div class="card-body text-center">
                <h6 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ player.name }}</h6>
                <!-- <p class="card-text">Position: {{ player.position }}</p>
                                      <p class="card-text">Team: {{ player.team }}</p> -->
              </div>
            </div>
          </div>
        </div>
        
      
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" [disabled]="!kb_save_changes" (click)="kb_saveRostered()"  data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<!---------------------------------------------------- Modal : Add Announcemnet ; Add Team Message ----------------------------------------->
<div class="modal fade" id="announceTeamModal" tabindex="-1" role="dialog" aria-labelledby="announceTeamModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header gradient-main">
        <h5 class="modal-title" id="announceTeamModalLabel">Add Announcement:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-striped table-dark table-responsive table-data">
            <tbody>
              <tr>
                <td>
                  <label class="form-label">Message:</label>
                  <textarea type="text" [(ngModel)]="component_object.announcement" class="form-control form-control-sm" rows="8"></textarea>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="announceAdd()" data-bs-dismiss="modal">Send Message</button>
      </div>
    </div>
  </div>
</div>

<!---------------------------------------------------- Modal : List of Announcemnets ; List of  Team Message ----------------------------------------->
<div class="modal fade" id="announceTeamListModal" tabindex="-1" role="dialog" aria-labelledby="announceTeamListModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header gradient-main">
        <h5 class="modal-title" id="announceTeamListModalLabel">List of Messages:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngFor="let message of announce_messages" class="card position-relative" >
          <div class="card-header">
              <span class="fs-9 ms-3">{{message.first_name}} {{message.last_name}}</span>
          </div>
          <div class="card-body" >
              <div class="row col-12">
                  <div class="col-3">
                      <div class="profile-picture">
                          <img class="pfp-icon" [src]="message.pfp_url">
                      </div>
                  </div>
                  <div class="col-9">
                      <blockquote class="blockquote mb-0">
                          <p [title]="message.announcement">{{ message.announcement.length > 20 ? (message.announcement | slice:0:20) + '...' : message.announcement }}</p>
                          <footer class="blockquote-footer"><b>{{message.created_date | date:'fullDate'}}</b> | <i>{{message.created_date | date:'shortTime'}}</i></footer>
                      </blockquote>
                  </div>
              </div>
             
          </div>
          <span *ngIf="component_object.user==message.created_by" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" (click)="announceDelete(message.id)">
              <i class="fa-solid fa-xmark"></i>
          </span>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>