/* .modal-body{
    background: #343a40 !important;
}
.modal-footer{
    background: #343a40 !important;
} */
 .modal-table {
    margin:0 auto; 
    max-width:500px;
 }
 
 .modal-table table tr th {
    width:150px !important;
 }
 
 .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    border-radius: 0.25rem;
    display: inline-block;
    width: 2rem;
  }
  .custom-day:hover, .custom-day.focused {
    background-color: #e6e6e6;
  }
  .bg-primary {
    border-radius: 1rem;
  }