/* .modal-body{
    background: #343a40 !important;
}
.modal-footer{
    background: #343a40 !important;
} */
 .modal-table {
    margin:0 auto; 
    max-width:500px;
 }
 
 .modal-table table tr th {
    width:150px !important;
 }
 