.card-body {
    background-color: #343a40 !important;
    color: white !important;
}
.card {
    background-color: #343a40 !important;
    color: white !important;
}
.profile-picture img {
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .pfp-icon {
    width: 100px;
    border-radius: 50%;
  }
  .blockquote-footer{
    float: right;
  }

@media only screen and (max-width: 900px) {
  .profile-picture img {
    width: 50px;
    height: 50px;
  }
  .blockquote{
    font-size: 0.8rem;
  }
  .blockquote-footer{
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 901px) {
  .profile-picture img {
    width: 75px;
    height: 75px;
  }
}