/* Custom styles for smaller table */
.small-table {
    font-size: 0.8rem; /* Reduce font size */
}
.small-table th,
.small-table td {
    font-size: 0.7rem; 
    /* padding: 1rem;  */
}

  .today{
    background-color: rgb(141, 194, 141) !important;
  }
  .notInMonth{
    background-color: rgb(138, 138, 138) !important;
    
  }

/**********************************************  ngb bootstrap  ******************************************************************/


/********************************************************************************************************************************/
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  border-radius: 0.25rem;
  display: inline-block;
  width: 2rem;
}
.custom-day:hover, .custom-day.focused {
  background-color: #e6e6e6;
}
.bg-primary {
  border-radius: 1rem;
}

.day-box {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  /* border-radius: 5px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  justify-content: space-between;
  
}

.date {
  font-weight: bold;
  margin-bottom: 5px;
}

.day-box-dp {
  background-color: #fff;
  border: 1px solid #ddd;
  /* border-radius: 5px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align:center;
  
}




.event-tab:hover {
  background-color: #0056b3;
}
@media only screen and (max-width: 900px) {
    .cal-div{
        margin-left:10px;
        margin-right:10px;
    }
    .mobileView .monthYearTitle{
      font-size:10px;
    }
    .mobileView .btnmonthYear{
      font-size:10px;
      min-width:60px;
    }
    .events{
      display:none;
    }
    .event-tab {
      display: none;
    }
    .day-box:hover{
      background: #f9ff82;
    }
    .day-box{
      height: 7vh; /* Set a fixed height for all day boxes */
      width: 40vw
    }
}


@media only screen and (min-width: 901px) {


    .cal-div{
        margin-left:100px;
        margin-right:100px;
    }
    .fullView .monthYearTitle{
      font-size:20px;
    }
    .fullView .btnmonthYear{
      font-size:10px;
      min-width:60px;
    }
    .events {
      display: flex;
      flex-direction: column;
      gap: 5px;
      flex-grow: 1;
      /* Make the events container grow to fill available space */
    }

    .event-tab {
      background-color: #007BFF;
      color: #fff;
      margin: 2px;
      padding: 5px;
      border-radius: 3px;
      font-size: 0.9em;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .day-box{
      height: 10vh; /* Set a fixed height for all day boxes */
      width: 50vw
    }
}