
<div class="container-fluid table-responsive" style="margin:0 auto;max-width:800px">
    <div class="text-center">
        <div class="col-xl-12 row">
            <div class="col-xl-4">
                <button type="button" class="btn btn-primary btn-sm" (click)="goToPreviousMonth()">Previous</button>
            </div>
            <div class="col-xl-4 text-center">
                <h3>{{getCurrentMonth()}} {{getCurrentYear()}}</h3>
            </div>
            <div class="col-xl-4">
                <button type="button" class="btn btn-primary btn-sm" (click)="goToNextMonth()">Next</button>
            </div>
        </div>
    </div>
   
    <table class="small-table table table-responsive">
        <thead class="table-dark">
            <tr class="text-center" >
                <th *ngFor="let dayName of dayNames">{{dayName}}</th>
           </tr>
        </thead>
        <tbody>
            <tr *ngFor="let week of daysInMonth()" >
                <td class="day-box" [ngClass]="{'today': day?.Current, 'notInMonth': day==null}" *ngFor="let day of week">
                    
                    <div *ngIf="day" >
                        <div class="date">
                            {{day?.Day}}
                        </div>
                        <div class="events" *ngFor="let status of day?.Status">
                            <div class="event-tab" data-bs-toggle="modal" data-bs-target="#eventDetailModal" title="{{status?.Name}}" (click)="eventDetail(status,day)">{{ status?.Name | slice:0:15 }}{{status?.Name.length > 15 ? '...' : ''}}</div>
                        </div>
                    </div>
                    
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <table class="table table-sm table-responsive table-data table-bordered">
        <thead class="table-dark">
            <tr class="text-center" >
                <th *ngFor="let dayName of dayNames">{{dayName}}</th>
           </tr>
        </thead>
        <tbody>
            <tr *ngFor="let week of daysInMonth()">
                <td class="day-entry" [ngClass]="{'today': day?.Current, 'notInMonth': day==null}" *ngFor="let day of week">
                    
                    <div *ngIf="day" class="dayNum border-bottom border-end">
                        {{day?.Day}}
                    </div>
                    <table class="small-table table">
                        <tr>
                            <td>
                                <div class="calendar-alert">Practice @ Rice 9AM</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="calendar-alert">Practice @ Rice 9AM</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
        
        
    </table> -->
</div>