<!-- 
 <div class="mt-3">
    <div role="alert" class=" text-center alert alert-warning shadow-lg fade show">
        <strong>Kickball page is being worked on. Please come back again...</strong>
    </div>
</div> 
-->
<div *ngIf="kickball_admin" [hidden]="kb_placeholder" class="mt-3 text-center">
    <button class="custom-btn-size btn btn-info btn-sm rounded-pill m-2" data-bs-toggle="modal" data-bs-target="#linkAddModal"
        type="button" (click)="linkCreate()">
        <i class="fa-solid fa-link me-1"></i> Add Link</button>
    <button class="custom-btn-size btn btn-sm btn-info rounded-pill m-2" data-bs-toggle="modal" data-bs-target="#eventAddModal"
        type="button" (click)="eventCreate()">
        <i class="fa-solid fa-calendar-plus me-1"></i> Add Event</button>
    <button class="custom-btn-size btn btn-sm btn-info rounded-pill m-2" data-bs-toggle="modal" data-bs-target="#rosterTeamModal"
        type="button" (click)="rosterEdit()">
        <i class="fa-solid fa-clipboard-user me-1"></i> Roster Check</button>
    <button class="custom-btn-size btn btn-sm btn-info rounded-pill m-2" data-bs-toggle="modal" data-bs-target="#announceTeamModal"
        type="button" (click)="announceCreate()">
        <i class="fa-solid fa-comment-dots me-1"></i> Add Announcement</button>
        
</div>

<div class="mt-3" *ngIf="kb_breadcrumbs.length!=0" [hidden]="kb_placeholder" style="display:flex;align-items: center;">
    <div *ngFor="let linkName of kb_breadcrumbs;let i = index">
        <button type="button" class="btn btn-sm btn-outline-primary me-2" title="{{linkName?.League}}"
            (click)="kickball_link_team(linkName?.Tier,linkName?.Link,i)">{{linkName?.Name}}</button>
        <i *ngIf="i < kb_breadcrumbs.length - 1" class="fa-solid fa-right-long me-2"
            style="color:rgb(47, 140, 246)"></i>
    </div>

</div>

<div *ngIf="!valid_login" [hidden]="kb_placeholder">
    <div class="card shadow-lg border-secondary mt-3 kb-login-card">
        <div class="card-header gradient-kickball">
            <span>LOGIN</span>
        </div>
        <div class="card-body">
            <img class="img_login" src="../assets/carousel-pics/sp_sacc.png" alt="Kickball_SACC">
            <table class="kb-sacc-login" style="width:100%">
                <tr>
                    <td>
                        <i class="fa-solid fa-user kb-login-icons"></i>
                        <input class="form-control" [(ngModel)]="kickball_username" type="text"
                            placeholder="Username / Email">
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa-solid fa-lock kb-login-icons"></i>
                        <input class="form-control" [(ngModel)]="kickball_password" type="password"
                            placeholder="Password">
                    </td>
                </tr>
                <tr>
                    <td><button class="btn btn-sm btn-primary m-2" (click)="login()">Sign In</button></td>
                </tr>
            </table>
            <!-- <iframe src="https://sanantoniossc.leaguelab.com/login" width="100%" height="600" frameborder="0"></iframe> -->


        </div>

    </div>
</div>
<div *ngIf="kickball_objectInfo?.Tier == 'team'" [hidden]="kb_placeholder">
    <div class="card shadow-sm kb-login-card border-secondary mt-3">
        <div>
            <pre>{{kickball_objectInfo | json}}</pre>
        </div>
    </div>
</div>

<div *ngIf="kickball_objectInfo?.Tier == 'schedule'" [hidden]="kb_placeholder">
    <div class="card shadow-sm kb-login-card border-secondary mt-3">
        <div>
            <pre>{{kickball_objectInfo | json}}</pre>
        </div>
    </div>
</div>


<div *ngIf="kickball_objectInfo?.Tier == 'profile'" [hidden]="kb_placeholder">
    <div class="card shadow-sm kb-login-card border-secondary mt-3" *ngFor="let info of kickball_userInfo">

        <div class="card-body">
            <div class="detail-info">
                <img [src]="info.TeamInfo.Photo ? info.TeamInfo.Photo : '../assets/carousel-pics/sp_sacc.png'"
                    class="img-thumbnail me-3 float-start">
                <span class="leagueName text-decoration-underline">{{info.League}}</span><br>
                <span class="teamName">{{info.TeamInfo.Name}}</span><br>
                <span *ngIf="info.PlayerTier=='Player'" class="badge rounded-pill text-bg-primary">Player</span>
                <span *ngIf="info.PlayerTier=='Non-Player'"
                    class="badge rounded-pill text-bg-secondary">Non-Player</span>
                <span *ngIf="info.PlayerTier=='Captain'" class="badge rounded-pill text-bg-light">Captain</span>

            </div>
            <div class="side-info">
                <b>League Skill:</b><br><span>{{info.Skill}}</span>
            </div>



        </div>
        <div class="card-footer">

            <div class="text-center">
                <button *ngIf="info.Links.Schedule" class="btn btn-sm btn-outline-info custom-btn-size me-2"
                    (click)="kickball_link_team('schedule',info.Links.Schedule,null)">
                    <i class="fa-regular fa-calendar-days me-1"></i> Schedule
                </button>
                <button *ngIf="info.Links.Standings" class="btn btn-sm btn-outline-info custom-btn-size me-2">
                    <i class="fa-solid fa-ranking-star me-1"></i> Standings
                </button>
                <button *ngIf="info.Links.TeamPage" class="btn btn-sm btn-outline-info custom-btn-size me-2"
                    (click)="kickball_link_team('team',info.Links.TeamPage,null)">
                    <i class="fa-solid fa-people-roof me-1"></i> Team Page
                </button>
                <button *ngIf="info.Links.Playoffs" class="btn btn-sm btn-outline-info custom-btn-size">
                    <i class="fa-solid fa-trophy me-1"></i> Playoffs
                </button>
            </div>




        </div>
    </div>
</div>

<!----------------------------------- Loading Placeholders ---------------------------------->
<div *ngIf="kb_placeholder" class="placeholder-glow">
    <div class="placeholder col-12 card shadow-sm kb-login-card border-secondary mt-3">
        <div class="card-body row col-12">
            <div class="col-3">
                <span class="placeholder kb-login-card img-thumbnail"></span>
            </div>
            <div class="col-9">
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
            </div>
        </div>
        <div class="card-footer">
            <span class="placeholder col-12 kb-login-card custom-placeholder"></span>
        </div>
    </div>
    <div class="placeholder col-12 card shadow-sm kb-login-card border-secondary mt-3">
        <div class="card-body row col-12">
            <div class="col-3">
                <span class="placeholder kb-login-card img-thumbnail"></span>
            </div>
            <div class="col-9">
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
            </div>
        </div>
        <div class="card-footer">
            <span class="placeholder col-12 kb-login-card custom-placeholder"></span>
        </div>
    </div>
    <div class="placeholder col-12 card shadow-sm kb-login-card border-secondary mt-3">
        <div class="card-body row col-12">
            <div class="col-3">
                <span class="placeholder kb-login-card img-thumbnail"></span>
            </div>
            <div class="col-9">
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
            </div>
        </div>
        <div class="card-footer">
            <span class="placeholder col-12 kb-login-card custom-placeholder"></span>
        </div>
    </div>
    <div class="placeholder col-12 card shadow-sm kb-login-card border-secondary mt-3">
        <div class="card-body row col-12">
            <div class="col-3">
                <span class="placeholder kb-login-card img-thumbnail"></span>
            </div>
            <div class="col-9">
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
            </div>
        </div>
        <div class="card-footer">
            <span class="placeholder col-12 kb-login-card custom-placeholder"></span>
        </div>
    </div>
    <div class="placeholder col-12 card shadow-sm kb-login-card border-secondary mt-3">
        <div class="card-body row col-12">
            <div class="col-3">
                <span class="placeholder kb-login-card img-thumbnail"></span>
            </div>
            <div class="col-9">
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
            </div>
        </div>
        <div class="card-footer">
            <span class="placeholder col-12 kb-login-card custom-placeholder"></span>
        </div>
    </div>
</div>