<!-- 
 <div class="mt-3">
    <div role="alert" class=" text-center alert alert-warning shadow-lg fade show">
        <strong>Kickball page is being worked on. Please come back again...</strong>
    </div>
</div> 
-->
<div class="m-2" style="overflow:scroll" *ngIf="kb_breadcrumbs.length!=0" >
    <button class="btn btn-sm btn-primary" *ngFor="let linkName of kb_breadcrumbs">{{linkName?.Name}}</button>
</div>

<div *ngIf="!valid_login" [hidden]="kb_placeholder">
    <div class="card shadow-lg border-secondary mt-3 kb-login-card">
        <div class="card-header gradient-kickball" >
            <span>LOGIN</span>
        </div>
        <div class="card-body" >
            <img class="img_login" src="../assets/carousel-pics/sp_sacc.png" alt="Kickball_SACC">
            <table class="kb-sacc-login" style="width:100%">
                <tr>
                    <td>
                        <i class="fa-solid fa-user kb-login-icons"></i>
                        <input class="form-control" [(ngModel)]="kickball_username" type="text" placeholder="Username / Email">
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa-solid fa-lock kb-login-icons"></i>
                        <input class="form-control" [(ngModel)]="kickball_password"  type="password" placeholder="Password">
                    </td>
                </tr>
                <tr>
                    <td><button class="btn btn-sm btn-primary m-2" (click)="login()">Sign In</button></td>
                </tr>
            </table>
            <!-- <iframe src="https://sanantoniossc.leaguelab.com/login" width="100%" height="600" frameborder="0"></iframe> -->
           
            
        </div>
        
    </div>
</div>
<div *ngIf="kickball_objectInfo.Tier == 'team'">
    <div class="card shadow-sm kb-login-card border-secondary mt-3">
        <div>
            <pre>{{kickball_objectInfo | json}}</pre>
        </div>
    </div>
</div>

<div *ngIf="kickball_objectInfo.Tier == 'schedule'">
    <div class="card shadow-sm kb-login-card border-secondary mt-3">
        <div>
            <pre>{{kickball_objectInfo | json}}</pre>
        </div>
    </div>
</div>


<div *ngIf="kickball_objectInfo.Tier == 'profile'" >
    <div class="card shadow-sm kb-login-card border-secondary mt-3" *ngFor="let info of kickball_userInfo" >
    
        <div class="card-body">
            <table>
                <tr>
                    <td>
                        <img [src]="info.TeamInfo.Photo ? info.TeamInfo.Photo : '../assets/carousel-pics/sp_sacc.png'" class="img-thumbnail me-3 float-start">
                        <h5 class="text-decoration-underline">{{info.League}}</h5>
                        <h6>{{info.TeamInfo.Name}}</h6>
                    </td>
                    <td style="width:10%">
                        <span>League Skill:</span><br><span>{{info.Skill}}</span>
                    </td>
                </tr>
            </table>
        
            
        </div>
        <div class="card-footer">
           
            <div class="text-center">
                <button *ngIf="info.Links.Schedule" class="btn btn-sm btn-outline-info custom-btn-size me-2" (click)="kickball_link_team(info.Links.Schedule)">
                    <i class="fa-regular fa-calendar-days me-1"></i> Schedule
                </button>
                <button *ngIf="info.Links.Standings" class="btn btn-sm btn-outline-info custom-btn-size me-2">
                    <i class="fa-solid fa-ranking-star me-1"></i> Standings
                </button>
                <button *ngIf="info.Links.TeamPage" class="btn btn-sm btn-outline-info custom-btn-size me-2" (click)="kickball_link_team(info.Links.TeamPage)">
                    <i class="fa-solid fa-people-roof me-1"></i> Team Page
                </button>
                <button *ngIf="info.Links.Playoffs" class="btn btn-sm btn-outline-info custom-btn-size">
                    <i class="fa-solid fa-trophy me-1"></i> Playoffs
                </button>
            </div>
            
            
            
            
        </div>
    </div>
</div>

<!----------------------------------- Loading Placeholders ---------------------------------->
<div *ngIf="kb_placeholder" class="placeholder-glow">
    <div class="placeholder col-12 card shadow-sm kb-login-card border-secondary mt-3">
        <div class="card-body row col-12">
            <div class="col-3">
                <span class="placeholder kb-login-card img-thumbnail"></span>
            </div>
            <div class="col-9">
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
            </div>
        </div>
        <div class="card-footer">
            <span class="placeholder col-12 kb-login-card custom-placeholder"></span>
        </div>
    </div>
    <div class="placeholder col-12 card shadow-sm kb-login-card border-secondary mt-3">
        <div class="card-body row col-12">
            <div class="col-3">
                <span class="placeholder kb-login-card img-thumbnail"></span>
            </div>
            <div class="col-9">
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
            </div>
        </div>
        <div class="card-footer">
            <span class="placeholder col-12 kb-login-card custom-placeholder"></span>
        </div>
    </div>
    <div class="placeholder col-12 card shadow-sm kb-login-card border-secondary mt-3">
        <div class="card-body row col-12">
            <div class="col-3">
                <span class="placeholder kb-login-card img-thumbnail"></span>
            </div>
            <div class="col-9">
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
            </div>
        </div>
        <div class="card-footer">
            <span class="placeholder col-12 kb-login-card custom-placeholder"></span>
        </div>
    </div>
    <div class="placeholder col-12 card shadow-sm kb-login-card border-secondary mt-3">
        <div class="card-body row col-12">
            <div class="col-3">
                <span class="placeholder kb-login-card img-thumbnail"></span>
            </div>
            <div class="col-9">
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
            </div>
        </div>
        <div class="card-footer">
            <span class="placeholder col-12 kb-login-card custom-placeholder"></span>
        </div>
    </div>
    <div class="placeholder col-12 card shadow-sm kb-login-card border-secondary mt-3">
        <div class="card-body row col-12">
            <div class="col-3">
                <span class="placeholder kb-login-card img-thumbnail"></span>
            </div>
            <div class="col-9">
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
                <span class="placeholder kb-login-card custom-placeholder"></span>
            </div>
        </div>
        <div class="card-footer">
            <span class="placeholder col-12 kb-login-card custom-placeholder"></span>
        </div>
    </div>
</div>
