<!-- 
 <div class="mt-3">
    <div role="alert" class=" text-center alert alert-warning shadow-lg fade show">
        <strong>Kickball page is being worked on. Please come back again...</strong>
    </div>
</div> 
-->
<div class="card shadow-lg border-secondary mt-3 kb-login-card"  *ngIf="!valid_login">
    <div class="card-header gradient-kickball" >
        <span>LOGIN</span>
    </div>
    <div class="card-body" >
        <img class="img_login" src="../assets/carousel-pics/sp_sacc.png" alt="Kickball_SACC">
        <table class="kb-sacc-login" style="width:100%">
            <tr>
                <td>
                    <i class="fa-solid fa-user kb-login-icons"></i>
                    <input class="form-control" [(ngModel)]="kickball_username" type="text" placeholder="Username / Email">
                </td>
            </tr>
            <tr>
                <td>
                    <i class="fa-solid fa-lock kb-login-icons"></i>
                    <input class="form-control" [(ngModel)]="kickball_password"  type="password" placeholder="Password">
                </td>
            </tr>
            <tr>
                <td><button class="btn btn-sm btn-primary m-2" (click)="login()">Sign In</button></td>
            </tr>
        </table>
        <!-- <iframe src="https://sanantoniossc.leaguelab.com/login" width="100%" height="600" frameborder="0"></iframe> -->
       
        
    </div>
    
</div>
<div *ngIf="valid_login">
    <div class="card shadow-lg kb-login-card border-secondary mt-3" *ngFor="let info of kickball_userInfo" >
    
        <div class="card-body">
            <img [src]="info.TeamInfo.Photo ? info.TeamInfo.Photo : '../assets/carousel-pics/sp_sacc.png'" class="img-thumbnail me-3 float-start">
            <h4>{{info.League}}</h4>
        </div>
    </div>
</div>
