

<div class="container-fluid kickball-bg">
    <div class="kickball-div row">
        <div class="col-xl-12 ">
            <div class="full-height">
                <img class="kickball-icon" src="../assets/carousel-pics/sp_sacc.png">
                <span class="kickball-title ms-4">Ballers 2024</span>
            </div>
            <div class="scroll-button">
                <img src="../assets/white_arrows.png" (click)="scrollToSection()">
            </div>

        </div>
        <div class="col-xl-12 kickball-header">
            <div class="kickball-title " id="target-section">Statistics</div>
                <div class="card">

                    <div class="card-body">
                        <div>
                            Todo:
                            <p>1. get some pictures and make a carousal out of it</p>
                            <p>2. top header picture is going to be the one on google survey</p>
                            <p>3. have some divs ready for information about the page and future profile pages</p>
                            <p>4. possible some palyer cards?</p>
                            <p>5. statistics</p>
                        </div>
    
                    </div>
                </div>
        </div>
    </div>
   
</div>