<div class="container-fluid kickball-bg">
    <div class="kickball-div row">
        <div class="col-xl-12 ">
            <div class="full-height">
                <img class="kickball-icon" src="../assets/carousel-pics/sp_sacc.png">
                <span class="kickball-title ms-4">Ballers 2024</span>
            </div>
            <div class="scroll-button">
                <img src="../assets/white_arrows.png" (click)="scrollToSection()">
            </div>

        </div>
        <div class="col-xl-12 kickball-header">
            <div class="kickball-title ">Welcome Ballers</div>
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center"><b>Welcome Linebarger peeps and others:</b></h4><br>
                    <h6>For starters, this page on the (domain name needs to change I know) site will be only for us and
                        it's use on our stats.
                        Yes, there is other pages on the site and can sign / register yourself however that will be in
                        the near future.
                        Currently working on the kickball profile page so users can see which teams they were on
                        previously, schedules,
                        team / playoffs page, statistics, and others. Give it a couple weeks and should be good.
                    </h6><br>
                    <h4 class="text-center"><b>What is the purpose of this:</b></h4><br>
                    <h6>Fuck I don't know, just thought it would be fun to do, by the way, I do these kinds of things on
                        my free time
                        outside of work; believe me ask Angie.
                    </h6><br>
                    <h4 class="text-center"><b>"Alright cool I guess so what now?":</b></h4><br>
                    <h6>Well now if you want to see statistics just scroll to the bottom and below it will have a
                        feedback
                        section if you have any questions or just regular feedback in itself. Also if you scroll you'll
                        see annoucements and
                        some pictures just to liven up the page, possibly will make a gallary section, I don't know.
                    </h6><br>

                    <h3 class="text-center">Have some fun, goodluck to our season, make some memories</h3>
                </div>
            </div>
        </div>
        <div class="col-xl-12 kickball-header">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="5000">
                        <img src="../assets/carousel-pics/kb_home/kb_home_1.JPG" class="d-block w-100">
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="../assets/carousel-pics/kb_home/kb_home_2.JPG" class="d-block w-100">
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="../assets/carousel-pics/kb_home/kb_home_3.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="../assets/carousel-pics/kb_home/kb_home_4.JPEG" class="d-block w-100">
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="../assets/carousel-pics/kb_home/kb_home_5.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="../assets/carousel-pics/kb_home/kb_home_6.jpeg" class="d-block w-100">
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="../assets/carousel-pics/kb_home/kb_home_7.jpg" class="d-block w-100">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-xl-12 kickball-header">
            <div class="kickball-title ">Annoucements</div>
            <div class="card">

                <div class="card-body">
                    <h6>10/8/2024</h6>
                    <h4> First game is Thursday at 7pm at Olmos Park. We will have hotdogs / sausage wraps
                        to cook (please let Jay know if you dont eat meat or anything like that). Jay will also
                        get a case of beer but it is BYOB and I'd also recommend bringing a lawn chair if you'd like
                        to sit down. Let Jay know if ya'll got any questions.
                    </h4>

                </div>
            </div>
        </div>
        <div class="col-xl-12 kickball-header">
            <div id="target-section" class="d-flex justify-content-center align-items-center text-center">
                <span class="kickball-title">Statistics</span>
                


            </div>
            <div class="row ">
                <div *ngIf="!(player_stats | async)" class="placeholder-glow">
                    <div class="col-12 col-xl-4">
                        <div class="placeholder col-12 card border-secondary mt-3">
                            <div class="card-body col-12">
                                <div class="col-3">
                                    <span class="placeholder kb-main-card img-thumbnail me-3 float-start"></span>
                                </div>
                                <div class="col-9">
                                    <span class="placeholder kb-main-card custom-placeholder"></span>
                                </div>
                            </div>
                        </div>
                        <div class="placeholder col-12 card border-secondary mt-3">
                            <div class="card-body col-12">
                                <div class="col-3">
                                    <span class="placeholder kb-main-card img-thumbnail me-3 float-start"></span>
                                </div>
                                <div class="col-9">
                                    <span class="placeholder kb-main-card custom-placeholder"></span>
                                </div>
                            </div>
                        </div>
                        <div class="placeholder col-12 card border-secondary mt-3">
                            <div class="card-body col-12">
                                <div class="col-3">
                                    <span class="placeholder kb-main-card img-thumbnail me-3 float-start"></span>
                                </div>
                                <div class="col-9">
                                    <span class="placeholder kb-main-card custom-placeholder"></span>
                                </div>
                            </div>
                        </div>
                        <div class="placeholder col-12 card border-secondary mt-3">
                            <div class="card-body col-12">
                                <div class="col-3">
                                    <span class="placeholder kb-main-card img-thumbnail me-3 float-start"></span>
                                </div>
                                <div class="col-9">
                                    <span class="placeholder kb-main-card custom-placeholder"></span>
                                </div>
                            </div>
                        </div>
                        <div class="placeholder col-12 card border-secondary mt-3">
                            <div class="card-body col-12">
                                <div class="col-3">
                                    <span class="placeholder kb-main-card img-thumbnail me-3 float-start"></span>
                                </div>
                                <div class="col-9">
                                    <span class="placeholder kb-main-card custom-placeholder"></span>
                                </div>
                            </div>
                        </div>
                        <div class="placeholder col-12 card border-secondary mt-3">
                            <div class="card-body col-12">
                                <div class="col-3">
                                    <span class="placeholder kb-main-card img-thumbnail me-3 float-start"></span>
                                </div>
                                <div class="col-9">
                                    <span class="placeholder kb-main-card custom-placeholder"></span>
                                </div>
                            </div>
                        </div>
                        <div class="placeholder col-12 card border-secondary mt-3">
                            <div class="card-body col-12">
                                <div class="col-3">
                                    <span class="placeholder kb-main-card img-thumbnail me-3 float-start"></span>
                                </div>
                                <div class="col-9">
                                    <span class="placeholder kb-main-card custom-placeholder"></span>
                                </div>
                            </div>
                        </div>
                        <div class="placeholder col-12 card border-secondary mt-3">
                            <div class="card-body col-12">
                                <div class="col-3">
                                    <span class="placeholder kb-main-card img-thumbnail me-3 float-start"></span>
                                </div>
                                <div class="col-9">
                                    <span class="placeholder kb-main-card custom-placeholder"></span>
                                </div>
                            </div>
                        </div>
                    </div>
              
                    
                    
                </div>
                <div class="col-12 col-xl-4" *ngFor="let player of player_stats | async; let i = index;">
                    <div class="card border-secondary">
                        
                        <div class="card-header text-center gradient-kickball">
                            <button type="button" class="float-end btn btn-sm custom-btn-size float-end ms-4"
                        [ngClass]="{'btn-dark': !player.Toggle , 'btn-primary': player.Toggle }"
                        (click)="toggleStatsView(player)">{{player.Toggle ? 'Stats': 'Other Stats'}}</button>
                        {{player.Name}}</div>
                        <div class="card-body kb-stat-layout" >
                            <div class="zoom-container ">
                                <img [src]="player.Pfp" class="zoom-image bg-secondary border-secondary float-start">
                            
                            </div>
                            <div *ngIf="!player.Toggle " style="margin:0 auto;">
                                <div class="table-responsive ">
                                    <table class="table table-stats table-data table-primary table-bordered table-sm"
                                        style="margin:0 auto;width:50%">
                                        <tbody>
                                            <tr class="fs-9">
                                                <th class="text-center" *ngFor="let good of good_stats.slice(0, 5)"><span
                                                        title="{{good.header}}">{{good.abbv}}</span>
                                                </th>
                                            </tr>
                                            <tr class="fs-9">
                                                <td class="text-center table-secondary" *ngFor="let stat of player.Stats.Good.slice(0, 5)">
                                                    <span *ngFor="let key of (stat | keyvalue)">{{key.value ? key.value :
                                                        '/'}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                            
                                    </table>
                                    <div class="table-responsive mt-3">
                                        <table class="table table-stats table-data table-primary table-bordered table-sm"
                                            style="margin:0 auto;width:50%">
                                            <tbody class="">
                            
                                                <tr class="fs-9">
                                                    <th class="text-center" *ngFor="let good of good_stats.slice(5)"><span
                                                            title="{{good.header}}">{{good.abbv}}</span>
                                                    </th>
                                                </tr>
                                                <tr class="fs-9">
                                                    <td class="text-center table-secondary" *ngFor="let stat of player.Stats.Good.slice(5)">
                                                        <span *ngFor="let key of (stat | keyvalue)">{{key.value ? key.value :
                                                            '/'}}</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                               
                            </div>
                            <div *ngIf="player.Toggle " style="margin:0 auto;">
                              <div class="table-responsive">
                                <table class="table table-data table-stats table-dark table-bordered table-sm" >
                                    <tbody class="">
                                        <tr class="fs-9">
                                            <th class="text-center" *ngFor="let bad of bad_stats"><span
                                                    title="{{bad.header}}">{{bad.abbv}}</span>
                                            </th>
                                        </tr>
                                        <tr class="fs-9">
                                            <td class="text-center table-secondary" *ngFor="let stat of player.Stats.Bad">
                                                <span *ngFor="let key of (stat | keyvalue)">{{key.value ? key.value :
                                                    '/'}}</span>
                                            </td>
                                        </tr>
                                        <!-- <tr class="fs-9">
                                            <th *ngFor="let bad of bad_stats.slice(5, 9)"><span title="{{bad.header}}">{{bad.abbv}}</span>
                                            </th>
                                        </tr>
                                        <tr class="fs-9">
                                            <td class="text-center table-info" *ngFor="let stat of player.Stats.Bad.slice(5, 9)">
                                                <span *ngFor="let key of (stat | keyvalue)">{{stat.value ? stat.value :
                                                    '/'}}</span>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                </table>
                              </div>
                            </div>
                            
                        </div>

                    </div>
                </div>

            </div>
        </div>
        

        <div class="col-xl-12 kickball-header" style="margin:0 auto;max-width:600px">
            <feedback [p_name]="kb_pName" [t_name]="kb_tName"></feedback>
        </div>
    </div>

</div>