
.bg-color{
    background: linear-gradient(#ed63ff, #b773f7);
}

.fixed-height-card {
    height: 200px; /* Set your desired fixed height here */
    overflow-y: auto; /* Add scroll if content exceeds fixed height */
  }
  
.pfp-icon{
    width:100px;
    border-radius: 50%;
    position: relative;
}
.edit-button{
    float:left;
    width: 60px;
    background: linear-gradient(rgb(133, 182, 255),rgb(185, 185, 185)) !important;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.profile-picture img {
    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.profile-info {
    text-align: center;
    margin-top: 20px;
}

.profile-info h1 {
    margin: 5px 0;
}

.profile-info p {
    margin: 5px 0;
}

.pfp-edit{
    overflow: hidden;
    transform: translate(340%,-110%);
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    background: rgb(167, 167, 167) !important;
    cursor:pointer !important;
    border: 2px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.pfp-edit:hover{
    
    background: linear-gradient(rgb(133, 182, 255),rgb(185, 185, 185)) !important;
}
  .pfp-edit input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
   
  }
.file-point{
    cursor:pointer !important;
    
}
  .file-input {
    display: none;
  }

  /* table input[type="text"] {
    background: transparent;
    border-width: 0 0 2px;
    border-color: black;
    outline:none;
  }
  table input[type="text"]:focus {
    
    outline:none;
  } */
  .form-control {
    background: transparent;
    border-width: 0 0 2px;
    border-color: black;
    outline:none;
  }
  .form-control:focus {
    box-shadow: none; /* Remove the box shadow */
    border-color: #ced4da; /* Set the border color to a neutral color */
}
  /* input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
} */