
<div class="container-fluid mt-5">
    <div class="card" style="margin: 0 auto;max-width:1000px">
      <div class="card-body">
        

        <div class="profile">
            <div class="profile-picture">
                <img class="pfp-icon" [src]="'assets/pfp_default/user.png'" >
                <div class="pfp-edit">
                  <input id="fileInput" class="file-input" type="file" [(ngModel)]="currentUser[0].pfp" (change)="onSelectFile($event)" />
                  <label for="fileInput" class="file-point">
                    <i class=" fa-solid fa-camera"></i>
                  </label>
                </div>
                
                
            </div>
            <div class="profile-info">
                <h1>{{currentUser[0].first_name}} {{currentUser[0].last_name}}</h1>
                <p>Email: {{currentUser[0].email}}</p>
                <p>Phone: {{currentUser[0].phone}}</p>
                <p>Username: {{currentUser[0].username}}</p>
            </div>
        </div>
      </div>
  
    </div>
  </div>
