/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* $laptop_min: 900px;
$laptop_max: 2000px;
$phone_portrait: 320px;
$phone_landscape: 780px; */
@font-face {
  font-family: Daily-Q;
  src: url('src/assets/fonts/daily-quantum/Daily Quantum.ttf');
}

.btn-success {
  --bs-btn-bg: rgb(50, 189, 50) !important;
}

.home-row {
  margin-bottom: 200px;
}

.container-fluid {
  padding-top: 50px;
  padding-bottom: 50px;
  
}

.clutch-bg{
  z-index: 1;
}
.clutch-bg::before {
  content: "";
   position: fixed !important;
   z-index: -1;
   top: 0;
   bottom: 0;
   left: 0; /* might need to change when going to mobile*/
   right: 0;
   background-image: url("src/assets/carousel-pics/clutchTeam2023.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgba(95, 95, 95, 0.8); */
    opacity: 0.2;
    height:100%;
    width:100%;
}
.container-fluid .card {
  margin-bottom: 20px;
}

.container-header {
  width: 100%;
  overflow: hidden;
}

body {
  background-color: #343a40 !important;
  /* background-color: #9d9d9d !important; */
}



.gradient-main {
  font-family: Daily-Q;
  color: white !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background: linear-gradient(#ed63ff, #b773f7);

}

.gradient-clutch {
  font-family: Daily-Q;
  color: white !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background: linear-gradient(#ff6b6b, #fc976f, #fd9f3a);
}

.gradient-admin {
  font-family: Daily-Q;
  color: white !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background: linear-gradient(#ac4a4a, #e25d5d, #fc4848);
}

.gradient-examples {
  font-family: Daily-Q;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background: linear-gradient(#3f87a6, #f69d3c);
}

/*@media only screen and (min-width: 320px)*/
@media only screen and (max-width: 900px) {

  body {
    position: relative;
    padding-top: 55px;
    overflow-x: hidden;
    /* background-size: cover; */
    /* background-image: url(assets/thumbnail-background.png);
       */

  }

  .image-set {
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin-bottom: 75px;
    /* opacity: .9; */


  }

  .clutch-bg::before{
    background-position: center;
  }

  /* th,
  td {
    padding: 2px;
    font-size: 10px;
  } */

}
/*@media only screen and (min-width: 950px) and (max-width: 2000px) */
@media only screen and (min-width: 901px) {

  body {
    padding-top: 55px;
    overflow-x: hidden;
    position: relative;
    /* background-size: cover; */
    /* background-image: url(assets/thumbnail-background.png);
       */
  }

  .image-set {
    background-size: cover;
    position: relative;
    height: 450px;
    overflow: hidden;
    /* opacity: .9; */
  }
}


/**** scroll bar **/

/* WebKit */
::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
  padding: 0;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: none; /* color of the track */
}

::-webkit-scrollbar-thumb {
  background: #df77ff; /* color of the thumb */
  border-radius: 10px;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}