/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* $laptop_min: 900px;
$laptop_max: 2000px;
$phone_portrait: 320px;
$phone_landscape: 780px; */
@font-face {
  font-family: Daily-Q;
  src: url('src/assets/fonts/daily-quantum/Daily Quantum.ttf');
}
.home-row {
  margin-bottom:200px;
}
.container-fluid{
  padding-top:50px;
  padding-bottom:50px;
}
.container-fluid .card{
  margin-bottom: 20px;
}
.container-header{
  width:100%;
  overflow:hidden;
}
body{
  background-color: gray !important;
}

.gradient-main {
  font-family: Daily-Q;
  color: white !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background: linear-gradient(#ed63ff, #b773f7);
  
}
.gradient-clutch{
  font-family: Daily-Q;
  color: white !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background: linear-gradient(#ff6b6b,#fc976f,#fd9f3a);
}

.gradient-examples {
  font-family: Daily-Q;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background: linear-gradient(#3f87a6, #f69d3c);
}


  @media only screen 
  and (min-width: 320px) { 

    body{
      position: relative;
      padding-top:55px;
      overflow-x: hidden;
      /* background-size: cover; */
      /* background-image: url(assets/thumbnail-background.png);
       */
      
    }

   .image-set{
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin-bottom:75px;
    /* opacity: .9; */
}

}

@media only screen 
and (min-width: 950px) 
and (max-width: 2000px) { 

  body{
    padding-top:55px;
    overflow-x: hidden;
    position: relative;
    /* background-size: cover; */
     /* background-image: url(assets/thumbnail-background.png);
       */
  }

  .image-set{
    background-size: cover;
    position: relative;
    height: 450px; 
    overflow: hidden;
    /* opacity: .9; */
}
}

