
<!-- <div class="container-fluid settings-font table-responsive mt-3">
    <div class="edit-header">
        <h4><i class="fa-solid fa-circle-info icon-bg"></i> General</h4>
    </div>
</div> -->

<div class="settings-font">
    <div class="edit-header">
        <h4><i class="fa-solid fa-people-group icon-bg"></i> Groups</h4>
    </div>
    <div role="alert" class="alert alert-dismissible alert-info m-2">
        <strong>These are the follow groups you are in, 
        if you'd like to join another group please scroll down this section to send out a message 
        to group leader.</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="table-responsive settings-kb-table mt-2">
        <table class="caption-top w-100 table table-dark table-striped-columns table-sm table-borderless">
            <caption class="text-white"><i class="fa-solid fa-person-running me-2"></i>Kickball
                <button *ngIf="!kb_setting_edit" class="btn btn-sm btn-primary float-end" type="button" (click)="undoChanges();"><i class="fa-solid fa-pen-to-square me-2"></i>Edit</button>
                <button *ngIf="kb_setting_edit" class="btn btn-sm btn-success float-end" [disabled]="!save_changes" (click)="saveKBUser()" type="button">Save</button>
                <button *ngIf="kb_setting_edit" class="btn btn-sm btn-secondary float-end me-2" type="button" (click)="undoChanges();">Cancel</button></caption>
            
            <tbody>
                <tr>
                    <th>
                        Username / Email:
                    </th>
                    <td>
                        <span *ngIf="!kb_setting_edit">{{kb_user_acc.username}}</span>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="copy_kb_user_acc.username" (change)="checkForChanges()" *ngIf="kb_setting_edit">
                    </td>
                </tr>
                <tr>
                    <th>
                        Password:
                    </th>
                    <td >
                        <span class="col-8" [ngClass]="{'placeholder':kb_user_acc.password}" *ngIf="!kb_setting_edit">{{kb_user_acc.password ? '': 'No Password Available'}}</span>
                        <input type="password" class="form-control form-control-sm" [(ngModel)]="copy_kb_user_acc.password" (change)="checkForChanges()" *ngIf="kb_setting_edit">
                    </td>
                </tr>
            </tbody>
            
        </table>
    </div>
    
</div>